<aside class="flex-recipe">
  <h1> Shoping List</h1>
  <div class="shopping-item">
    <p>Amount of food items to buy: 3</p>
    <p>Total value of food needed: $819</p>
  </div>
  <table class="table table-striped table-hover mx-2">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apple</td>
        <td>150 grams</td>
        <td>$750</td>
      </tr>
      <tr>
        <td>Pineapple</td>
        <td>45 grams</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Chicken breasts</td>
        <td>12 units</td>
        <td>$24</td>
      </tr>
    </tbody>
  </table>
</aside>